* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('../img/xps-g2E2NQ5SWSU-unsplash\ \(1\).jpg');
    width: 90vw;
    height: 90vh;
}

h3 {
    font-size: 24px;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 10px 10px;
    padding: 10px;
}